@tailwind base;
@tailwind utilities;
@tailwind components;


@layer base {

    body {
        @apply overflow-x-clip overflow-y-scroll;
        font-feature-settings: 'liga' 0
    }

    .ProseMirror,
    textarea,
    select,
    input {
        @apply rounded-xl border border-outline-variant bg-surface p-2 min-h-[48px] ;
    }


    a:focus-visible,
    input[type="reset"]:focus-visible,
    input[type="button"]:focus-visible,
    input[type="submit"]:focus-visible,
    button:focus-visible {
        @apply outline-none;
    }

    a:focus,
    button:focus-visible,
    input[type="reset"]:focus-visible,
    input[type="button"]:focus-visible,
    input[type="submit"]:focus-visible,
    button:focus {
        @apply outline-none;
    }

}

@layer utilities {
    .subgrid {
        display: subgrid;
    }

    .grid-cols-subgrid {
        grid-template-columns: subgrid;
    }

    .grid-rows-subgrid {
        grid-template-rows: subgrid;
    }

    .grid-cols-container {
        @apply grid grid-cols-[60px,1fr] md:grid-cols-[80px,1fr] gap-x-4;

    }

    .grid-cols-container > :nth-child(2) {
    }
}

@layer base {

    .ProseMirror,
    textarea,
    select,
    input {
        @apply rounded-xl border border-outline-variant bg-surface p-2 min-h-[48px] ;
    }


    a:focus-visible,
    input[type="reset"]:focus-visible,
    input[type="button"]:focus-visible,
    input[type="submit"]:focus-visible,
    button:focus-visible {
        @apply outline-none;
    }

    a:focus,
    button:focus-visible,
    input[type="reset"]:focus-visible,
    input[type="button"]:focus-visible,
    input[type="submit"]:focus-visible,
    button:focus {
        @apply outline-none;
    }

}

