@tailwind base;
@tailwind utilities;
@tailwind components;

@custom-media --motionOK (prefers-reduced-motion: no-preference);

@custom-media --dark (prefers-color-scheme: dark);

@custom-media --light (prefers-color-scheme: light);


body {
    @apply bg-background text-on-background;
}

ul:has(.list-disc) {
    .list-disc {
        position: relative;
        list-style: none;

        &:nth-child(odd)::before {
            transform: rotate(0deg);
        }

        &:nth-child(even)::before {
            transform: rotate(45deg) translateY(0px);
        }

        &:nth-child(3n)::before {
            transform: rotate(90deg) translateY(-0px);
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 8px;
            background-image: url('../../public/assets/list-bullet-dark.svg');
            background-size: cover;
            background-repeat: no-repeat;
            height: 8px;
            width: 8px;
            z-index: 20;
        }

        &::marker {
            @apply text-primary;
        }

        &::marker {
            @apply flex items-center justify-center;
        }
    }
}

@layer base {

    body {
        @apply overflow-x-clip overflow-y-scroll;
        font-feature-settings: 'liga' 0
    }

    .ProseMirror,
    textarea,
    select,
    input {
        @apply rounded-xl border border-outline-variant bg-surface p-4 min-h-[48px] ;
    }


}


@layer utilities {

    /*noinspection CssInvalidPropertyValue*/
    .text-wrap-balance {
        text-wrap: balance;
    }

    .grid-cols-container {
        @apply grid grid-cols-[60px,1fr] md:grid-cols-[80px,1fr] gap-x-4;
    }

    .text-shadow-bold-variant {
        text-shadow: 0 1px var(--md-sys-color-on-surface-variant);
    }

    .text-shadow-bold {
        text-shadow: 0 1px var(--md-sys-color-on-surface);
    }

    .timeline-start-stripes {
        position: relative;
    }

    .timeline-start-stripes::before {
        content: '';
        position: absolute;
        left: -1px;
        bottom: 0;
        top: 0;
        width: 1px;
        background: repeating-linear-gradient(
                0,
                var(--md-sys-color-outline-variant) 0px,
                var(--md-sys-color-outline-variant) 10px,
                var(--md-sys-color-background) 10px,
                var(--md-sys-color-background) 20px,
                var(--md-sys-color-background) 20px
        );
        height: 78px;
    }
}

@layer base {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-wrap-balance;
    }

    .ProseMirror,
    textarea,
    select,
    input {
        @apply rounded-xl border border-outline-variant bg-surface p-2 min-h-[48px] ;
    }

}

