html:not(.is-transitioning) {
    img.selected {
        view-transition-name: selected;
        z-index: 20;
    }
}

::view-transition-old(selected) {
    object-fit: contain;
}

::view-transition-new(selected) {
    object-fit: cover;
}

::view-transition-old(selected),
::view-transition-new(selected) {
    animation: none;
    mix-blend-mode: normal;
    height: 100%;
    overflow: clip;
}
